---
import {
    Header,
    Footer,
    Hero,
    Benefits,
    Products,
    Portfolio,
    CTA,
    Contact,
    Metodology
} from '../components';
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <Header />
    <main>
        <Hero />
        <Benefits />
        <Products />
        <Portfolio />
        <Metodology />
        <CTA />
        <Contact />
    </main>
    <Footer />
</Layout>
