---
import { cn } from '../utils';
import type { ClassValue } from 'clsx';

type Props = {
    globalClass?: ClassValue;
    containerClass?: ClassValue;
    element?:
        | 'header'
        | 'footer'
        | 'section'
        | 'div'
        | 'nav'
        | 'main'
        | 'article'
        | 'aside';
    id?: string;
};

const { containerClass, globalClass, element, id } = Astro.props as Props;

const ParentElement = element ?? 'div';
---

<ParentElement
    class={cn('max-w-[calc(100vw-max(2rem,3vw))] w-full mx-auto', globalClass)}
    id={id}
>
    <div
        class={cn(
            'max-w-[min(calc(100%-max(2rem,3vw)),1440px)] mx-auto w-full',
            containerClass
        )}
    >
        <slot />
    </div>
</ParentElement>
