---
import { Container, Quotation } from '../components';
---

<Container
    element="header"
    id="main-header"
    globalClass="py-4 fixed top-0 left-1/2 -translate-x-1/2 z-[99] translate-y-[-100%] transition-transform duration-300"
    containerClass="py-4 px-6 md:px-6 bg-gray-50/75 backdrop-blur border border-gray-200 rounded-xl flex justify-between items-center"
>
    <a href="/" class="flex gap-1 items-center select-none">
        <img src="/logo.png" alt="LS Services" class="size-10 object-contain" />
        <span
            class="text-2xl font-semibold text-neutral-800 leading-none hidden md:block"
            >Services</span
        >
    </a>
    <a href="#menu" class="md:hidden">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="stroke-gray-600 ooth-transition hover:stroke-gray-900"
        >
            <line x1="4" y1="8" x2="20" y2="8"></line>
            <line x1="4" y1="16" x2="20" y2="16"></line>
        </svg>
    </a>
    <nav
        id="menu"
        class="md:gap-6 items-center flex md:flex-row flex-col fixed md:relative bg-gray-50 md:bg-transparent w-full md:w-[unset] top-0 md:top-0 py-6 md:py-0 left-1/2 -translate-x-1/2 md:left-0 md:translate-x-0 border border-gray-200 md:border-transparent rounded-xl target:opacity-100 opacity-0 md:opacity-100 pointer-events-none target:pointer-events-auto md:pointer-events-auto origin-[top_right] scale-0 target:scale-100 md:scale-100 [transition:scale_0.5s_cubic-bezier(0,1,0.65,1),opacity_0.1s_ease]"
    >
        <a
            href="#"
            class="ooth-transition w-full flex items-center justify-end px-6 md:hidden"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="stroke-gray-600"
            >
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </a>
        <a
            href="#productos"
            class="ooth-transition text-gray-500 hover:text-gray-900 px-4 md:px-0 py-4 md:py-0"
            >Productos</a
        >
        <a
            href="#"
            class="ooth-transition text-gray-500 hover:text-gray-900 px-6 md:px-0 py-4 md:py-0"
            >Portfolio</a
        >
        <a
            href="#"
            class="ooth-transition text-gray-500 hover:text-gray-900 px-6 md:px-0 py-4 md:py-0 mb-2 md:mb-0"
            >Contacto</a
        >
        <Quotation />
    </nav>
</Container>

<script>
    let lastScrollY = window.scrollY;
    const header = document.getElementById('main-header');

    // Initially show header at top
    if (window.scrollY === 0) {
        header?.classList.remove('translate-y-[-100%]');
    }

    window.addEventListener('scroll', () => {
        if (lastScrollY < window.scrollY) {
            // Scrolling down - hide header
            header?.classList.add('translate-y-[-100%]');
        } else {
            // Scrolling up - show header
            header?.classList.remove('translate-y-[-100%]');
        }

        // Always show header at the top of the page
        if (window.scrollY === 0) {
            header?.classList.remove('translate-y-[-100%]');
        }

        lastScrollY = window.scrollY;
    });
</script>
