---
import { Container, Quotation } from '../components';
---

<Container
    element="header"
    globalClass="py-4 fixed top-0 left-1/2 -translate-x-1/2 z-[99]"
    containerClass="py-4 px-4 sm:px-6 bg-gray-50 border border-gray-200 rounded-xl flex justify-between items-center"
>
    <a href="/" class="flex gap-1 items-center select-none">
        <img src="/logo.png" alt="LS Services" class="size-10 object-contain" />
        <span
            class="text-2xl font-semibold text-neutral-800 leading-none hidden sm:block"
            >Services</span
        >
    </a>
    <nav class="gap-6 items-center hidden sm:flex">
        <a href="#" class="smooth-transition text-gray-500 hover:text-gray-900"
            >Productos</a
        >
        <a href="#" class="smooth-transition text-gray-500 hover:text-gray-900"
            >Portfolio</a
        >
        <a href="#" class="smooth-transition text-gray-500 hover:text-gray-900"
            >Contacto</a
        >
        <Quotation />
    </nav>
</Container>
