---
import { Container, Quotation } from '../components';
---

<Container
    element="section"
    globalClass="bg-gray-100 rounded-b-[max(2.5vw,2rem))] overflow-hidden  mb-12"
    containerClass="h-[125svh] flex flex-col items-center py-[10%]"
>
    <span
        class="border rounded-full leading-none py-3 px-5 border-gray-300/75 hover:border-gray-400/75 text-gray-800 text-sm font-medium mb-4 smooth-transition select-none"
    >
        <span class="font-bold text-gray-950">+25</span> clientes satisfechos a nivel
        nacional</span
    >
    <h1 class="text-6xl font-bold text-center max-w-4xl text-balance">
        Creamos soluciones web <span class="text-gray-700">impactantes</span> para
        tu
        <span id="typed-text"></span>
        <span class="typing-cursor animate-blink text-gray-700">|</span>
    </h1>

    <Quotation class="py-4 px-6 mt-8 mb-16" />

    <img
        src="/wireframe.png"
        alt="Hero image"
        class="w-full flex-1 object-cover aspect-video object-top rounded-t-3xl drop-shadow-[0rem_-1rem_2rem_rgba(0,0,0,0.1)]"
        loading="lazy"
    />
</Container>

<style>
    .typing-cursor {
        font-weight: bold;
        animation: blink 1s step-end infinite;
    }

    @keyframes blink {
        from,
        to {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }
</style>
