---
import { Container } from '../components';
---

<Container
    element="section"
    globalClass="bg-linear-to-b from-gray-100 via-gray-100 to-gray-100 rounded-[max(2.5vw,2rem))] scroll-mt-32"
    containerClass="min-h-[max(92.5svh,720px)] sm:min-h-[max(125svh,1120px)] flex flex-col items-center p-12"
    id="productos"
>
    <h2 class="text-4xl font-bold text-center text-gray-900 text-balance mb-2">
        Nuestros productos
    </h2>
</Container>
